[submodule "iohk-monitoring-framework.git"]
	path = ext/iohk-monitoring-framework.git
	url = git@github.com:input-output-hk/iohk-monitoring-framework
	branch = master
[submodule "cardano-base.git"]
	path = ext/cardano-base.git
	url = git@github.com:input-output-hk/cardano-base.git
	branch = master
[submodule "cardano-crypto.git"]
	path = ext/cardano-crypto.git
	url = git@github.com:input-output-hk/cardano-crypto.git
	branch = master
[submodule "cardano-ledger-specs.git"]
	path = ext/cardano-ledger.git
	url = git@github.com:input-output-hk/cardano-ledger-specs.git
	branch = master
[submodule "cardano-wallet.git"]
	path = ext/cardano-wallet.git
	url = git@github.com:input-output-hk/cardano-wallet.git
	branch = master
[submodule "ouroboros-network.git"]
	path = ext/ouroboros-network.git
	url = git@github.com:input-output-hk/ouroboros-network.git
	branch = master
[submodule "cardano-node.git"]
	path = ext/cardano-node.git
	url = git@github.com:input-output-hk/cardano-node.git
	branch = master
[submodule "cardano-prelude.git"]
	path = ext/cardano-prelude.git
	url = git@github.com:input-output-hk/cardano-prelude.git
	branch = master
[submodule "ext/cardano-db-sync.git"]
	path = ext/cardano-db-sync.git
	url = git@github.com:input-output-hk/cardano-db-sync.git
	branch = master
[submodule "ext/cardano-benchmarking.git"]
	path = ext/cardano-benchmarking.git
	url = git@github.com:input-output-hk/cardano-benchmarking.git
	branch = master
[submodule "ext/Win32-network.git"]
	path = ext/Win32-network.git
	url = https://github.com/input-output-hk/Win32-network.git
[submodule "ext/input-output-hk_libsodium.git"]
	path = ext/input-output-hk_libsodium.git
	url = https://github.com/input-output-hk/libsodium.git
[submodule "ext/plutus.git"]
	path = ext/plutus.git
	url = https://github.com/input-output-hk/plutus.git
[submodule "ext/cardano-config.git"]
	path = ext/cardano-config.git
	url = https://github.com/input-output-hk/cardano-config
[submodule "ext/io-sim.git"]
	path = ext/io-sim.git
	url = https://github.com/input-output-hk/io-sim
[submodule "ext/typed-protocols.git"]
	path = ext/typed-protocols.git
	url = https://github.com/input-output-hk/typed-protocols
[submodule "ext/secp256k1.git"]
	path = ext/secp256k1.git
	url = https://github.com/bitcoin-core/secp256k1
[submodule "ext/ouroboros-consensus.git"]
	path = ext/ouroboros-consensus.git
	url = https://github.com/input-output-hk/ouroboros-consensus.git
