[submodule "cardano-base"]
	path = ext/cardano-base
	url = git@github.com:input-output-hk/cardano-base
	branch = master
[submodule "cardano-byron-proxy"]
	path = ext/cardano-byron-proxy
	url = git@github.com:input-output-hk/cardano-byron-proxy
	branch = master
[submodule "cardano-crypto"]
	path = ext/cardano-crypto
	url = git@github.com:input-output-hk/cardano-crypto
	branch = master
[submodule "cardano-ledger-specs"]
	path = ext/cardano-ledger-specs
	url = git@github.com:input-output-hk/cardano-ledger-specs
	branch = master
[submodule "cardano-wallet"]
	path = ext/cardano-wallet
	url = git@github.com:input-output-hk/cardano-wallet
	branch = master
[submodule "ouroboros-network"]
	path = ext/ouroboros-network
	url = git@github.com:input-output-hk/ouroboros-network
	branch = master
[submodule "cardano-explorer"]
	path = ext/cardano-explorer
	url = git@github.com:input-output-hk/cardano-explorer
	branch = master
[submodule "cardano-node"]
	path = ext/cardano-node
	url = git@github.com:input-output-hk/cardano-node
	branch = master
[submodule "cardano-shell"]
	path = ext/cardano-shell
	url = git@github.com:input-output-hk/cardano-shell
	branch = master
[submodule "goblins"]
	path = ext/goblins
	url = git@github.com:input-output-hk/goblins
	branch = master
[submodule "cardano-ledger"]
	path = ext/cardano-ledger
	url = git@github.com:input-output-hk/cardano-ledger
	branch = master
[submodule "cardano-prelude"]
	path = ext/cardano-prelude
	url = git@github.com:input-output-hk/cardano-prelude
	branch = master
[submodule "cardano-sl-x509"]
	path = ext/cardano-sl-x509
	url = git@github.com:input-output-hk/cardano-sl-x509
	branch = master
[submodule "iohk-monitoring-framework"]
	path = ext/iohk-monitoring-framework
	url = git@github.com:input-output-hk/iohk-monitoring-framework
	branch = master
